@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
:root {
	height: 100%;
}

img,
video {
	height: auto;
	width: 100%;
}

@layer components {
	.container-width {
		@apply max-w-[1230px] w-full px-4 mx-auto;
	}
}
